<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>add Product</title>
</head>
<body>
    <h2>ADD Products details</h2>
    <form action="/product/new" method="post">
        <label for="">name</label>
        <input type="text" name="Pname" id="">
        <br>
        <label for="">Price</label>
        <input type="number" name="Pprice" id="">
        <br>
        <label for="">img url</label>
        <input type="text" name="Pimg" id="">
        <br>
        <label for="">description</label>
        <textarea name="Pdesc" id=""></textarea>
        <br>
        <button type="submit">submit</button>
        <br><br>
    </form>
</body>
</html>