<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>add new product</title>
</head>
<body>
    <form action="/products" method="post">
        <label for="">img</label>
        <input type="text" name="a_url" id="">
        <br>
        <label for="">Product name</label>
        <input type="text" name="a_name" id="">
        <br>
        <label for="">Price</label>
        <input type="number" name="a_price" id="">
        <br>
        <button type="submit">submit</button>
    </form>
</body>
</html>