<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>add Product via post method</title>
    
</head>
<body>
    <form action ="/submit" method="post">
        <label for="">Add Product</label>
        <input type="text" name="P_name" id="">
        <button type="submit">Submit</button>
    
  
</body>
</html>
